.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border: brown solid;
}

.flex-item {
  background: burlywood;
}

.flex-item1 {
  flex: 1;
}

.flex-item1 {
  flex: 1;
}

.flex-item1 {
  flex: 1;
}
