.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border-color: black;
}

.flex-item {
}

.flex-item1 {
  flex: 1;
}

.flex-item1 {
  flex: 1;
}

.flex-item1 {
  flex: 1;
}
