.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border: brown solid;
  background: cornsilk;
  width: 50%;
  height: 50%;
  justify-content: flex-end;
}

.item {
  background: rgb(190, 143, 81);
}

.item1 {
  flex: 1;
}

.item1 {
  flex: 1;
}

.item1 {
  flex: 1;
}
