.container {
  border: brown solid 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.item {
  text-align: center;
  margin: 15px;
  flex: 1;
}

.item1 {
  background: rgb(255, 251, 0);
}

.item2 {
  background: rgba(138, 192, 12, 0.788);
}

.item3 {
  background: rgb(25, 0, 255);
}

.item4 {
  background: rgb(12, 136, 173);
}

.item5 {
  background: rgb(0, 133, 44);
}

.item6 {
  background: rgb(201, 63, 63);
}

.item7 {
  background: rgb(221, 131, 224);
}
